<!-- // title
// Time
// author
// body -->
<div class="row  my-4">
    <div [innerHTML]="getDynamicTemplate()" class="col-7 mx-auto">
    </div>

    <div class="col-3 ps-4 border-start border-1 border-secondary">
        <div>
            <h5 class="fw-bold">Recente Posts</h5>
            <ul class="list-group bg-transparent "> 
                <li class="list-group-item bg-transparent"><a class="link-info" href="/posts/post/about-planned-obsolescence">About planned obsolescence</a>
                </li>
                <li class="list-group-item bg-transparent"><a class="link-info" href="/posts/post/ti-verde-soluções-e-consequencias">TI Verde: soluções e
                        consequências</a></li>
            </ul>
        </div>
        <div class="mt-4">
            <h5 class="fw-bold"> Categories</h5>
            <ul class="list-group bg-transparent text-info">
                <li class="list-group-item text-info bg-transparent"><a class="link-info" href="#">Architecture</a></li>
                <li class="list-group-item text-info bg-transparent"><a class="link-info" href="#">Agile development</a></li>
                <li class="list-group-item text-info bg-transparent"><a class="link-info" href="#">Project Patterns</a></li>
                <li class="list-group-item text-info bg-transparent"><a class="link-info" href="#">Software Development Process</a></li>
                <li class="list-group-item text-info bg-transparent"><a class="link-info" href="#">Tutorials</a></li>
            </ul>
        </div>
    </div>
</div>