<nav style="background-color: black;" class="navbar navbar-expand-lg navbar-dark fw-bold">
    <div class="container-fluid my-2">
        <img height="70px" class="mr-3"
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f8903b05-cb23-4f4e-bf68-9546c4d368e7/d5difqb-f7c02d4a-1493-44a9-a4ce-502a7e7e928f.png/v1/fill/w_603,h_601,strp/random_logo_i_was_bored_designing_by_shadow3vi1_d5difqb-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAxIiwicGF0aCI6IlwvZlwvZjg5MDNiMDUtY2IyMy00ZjRlLWJmNjgtOTU0NmM0ZDM2OGU3XC9kNWRpZnFiLWY3YzAyZDRhLTE0OTMtNDRhOS1hNGNlLTUwMmE3ZTdlOTI4Zi5wbmciLCJ3aWR0aCI6Ijw9NjAzIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.tiXjlMj4qj8txjwv4x9D2CiqwjcXAL2dLlbihSTjiY4"
            alt="">
        <a class="navbar-brand " href="#">
            <h3 class="fw-bold">The Strider Blog</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="posts">Posts</a>
                <a class="nav-link" href="https://github.com/cleiltonoliveira/the-strider">Github</a>
            </div>
        </div>
    </div>

</nav>
<div>
    <hr class="mt-0" width="100%">
</div>